.footer {
  align-items: center;
  background: #fff;
  border-top: 1px solid #eaeaea;
  display: flex;
  font-size: .8rem;
  line-height: 1.5rem;
  margin-top: 4rem;
  padding: 2rem .5rem;
  justify-content: center;
  width: 100%;
}

.footer div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer span {
  display: none;
}

.footer div > * {
  margin: 0 4px;
}

.footer img {
  height: 1.5rem;
  margin-left: .3rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dashed rgb(224, 242, 255);
}

.footer a:hover {
  border-bottom: 1px dashed #09f;
}

@media (min-width: 700px) {
  .footer div {
    flex-direction: row;
  }

  .footer span {
    display: block;
  }
}