:root {
  --app-background-color: #fefefe;
  --app-background:
    radial-gradient(#cdd0ff 1px, transparent 0),
    radial-gradient(#cdd0ff 1px,#fefefe 0);

  --text-base-color: #000;
  --text-title-color: #011440;
  --text-subtitle-color: #001e63;
  --text-small-color: rgb(100, 98, 98);
}

@media (prefers-color-scheme: dark) {
  body {
    --app-background:
      radial-gradient(#15155a 1px, #111 0),
      radial-gradient(#15155a 1px,#111 0);
  }

  #container {
    filter: invert(1) hue-rotate(180deg);
  }

  #container img, #container .mapa, #container span[role='img'] {
    filter: invert(1) hue-rotate(180deg);
  }

  #container img, #container #pre-embed {
    filter: invert(1) hue-rotate(180deg);
  }

}

html[scheme='light-mode'] body {
  --app-background:
    radial-gradient(#cdd0ff 1px, transparent 0),
    radial-gradient(#cdd0ff 1px,#fefefe 0);
}
html[scheme='light-mode'] #container {
  filter: invert(0) hue-rotate(0deg);
}

html[scheme='light-mode'] #container img,
html[scheme='light-mode'] #container .mapa,
html[scheme='light-mode'] #container span[role='img'] {
  filter: invert(0) hue-rotate(0deg);
}

html[scheme='dark-mode'] body {
  --app-background:
    radial-gradient(#15155a 1px, #111 0),
    radial-gradient(#15155a 1px,#111 0);
}
html[scheme='dark-mode'] #container {
  filter: invert(1) hue-rotate(180deg);
}

html[scheme='dark-mode'] #container img,
html[scheme='dark-mode'] #container .mapa,
html[scheme='dark-mode'] #container span[role='img'] {
  filter: invert(1) hue-rotate(180deg);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeSpeed;
}

body {
  background-color: var(--app-background-color);
  background-image: var(--app-background);
  background-size: 40px 40px;
  background-position: 0 0,20px 20px;
  color: var(--text-base-color);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  padding-bottom: 16px;
  font-size: 1.2rem;
}

dialog {
  display: none;
}

dialog::backdrop {
  background-color: rgba(0,0,0,0.8);
}
