:root {
  --app-background-color: #fefefe;
  --app-background: radial-gradient(#cdd0ff 1px,transparent 0),radial-gradient(#cdd0ff 1px,#fefefe 0);

  --text-base-color: #000;
  --text-title-color: #011440;
  --text-subtitle-color: #001e63;
  --text-small-color: #444;
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100 900;
	font-display: optional;
	src: url('/fonts/inter/var.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}


@media (prefers-color-scheme: dark) {
  :root {
    --app-background: radial-gradient(#e3e5ff 1px,transparent 0),radial-gradient(#e3e5ff 1px,#fefefe 0);
  }

  html {
    filter: invert(1) hue-rotate(180deg);
  }

  html img, html span[role='img'] {
    filter: invert(1) hue-rotate(180deg);
  }
}

html[scheme='light-mode'] {
  filter: invert(0) hue-rotate(0deg);
  --app-background: radial-gradient(#cdd0ff 1px,transparent 0),radial-gradient(#cdd0ff 1px,#fefefe 0);
}

html[scheme='light-mode'] img, html[scheme='light-mode'] span[role='img'] {
  filter: invert(0) hue-rotate(0deg);
}

html[scheme='dark-mode'] {
  --app-background: radial-gradient(#e3e5ff 1px,transparent 0),radial-gradient(#e3e5ff 1px,#fefefe 0);
  filter: invert(1) hue-rotate(180deg);
}

html[scheme='dark-mode'] img, html[scheme='dark-mode'] span[role='img'] {
  filter: invert(1) hue-rotate(180deg);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeSpeed;
  transition: all .3s ease;
}

body {
  background-color: var(--app-background-color);
  background-image: var(--app-background);
  background-size: 40px 40px;
  background-position: 0 0,20px 20px;
  color: var(--text-base-color);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  padding-bottom: 16px;
  font-size: 1.2rem;
}

dialog {
  display: none;
}

dialog::backdrop {
  background-color: rgba(0,0,0,0.8);
}