.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 2rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;
}

.title {
  color: #011440;
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.subtitle {
  color: #001e63;
  margin: 4rem 0 2rem;
  line-height: 1.15;
  font-size: 2rem;
}

.title,
.description {
  text-align: center;
}

.description {
  color: #444;
  line-height: 1.5;
  font-size: .8rem;
}

.description time {
  border-bottom: 1px dashed #ccc;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 32px;
  max-width: 1000px;
  margin-top: 3rem;
  width: 100%;
}

.companyLogo {
  margin-right: 8px;
  max-width: 72px;
  height: auto;
  object-fit: contain;
}

.download {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #333;
  border-bottom: 1px dashed #ddd;
}

.download:hover {
  color: #555;
  border-bottom: 1px dashed #09f;
}

.card {
  background: #ffffff;
  border-radius: 8px;
  border: 2px solid #111;
  margin: 1rem 0 3rem;
  padding: 64px 1.5rem 1.5rem;
  position: relative;
  text-align: center;
  box-shadow: rgb(210, 239, 253) 14px 14px;
}

.card header {
  position: absolute;
  top: -36px;
  border: 4px solid #fff;
  background: #fff;
  border-radius: 5000px;
  width: 80px;
  left: 0;
  right: 0;
  margin: auto;
}

.card section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card h3 {
  color: #555;
  font-size: 1.5rem;
  margin: 0;
}

.card h4 {
  color: #888;
  font-size: 1.3rem;
  margin: 1rem 0 0;
}

.card p {
  font-weight: bold;
  margin: 0;
  font-size: 2rem;
  line-height: 1.5;
}

.card .secondary {
  color: #333;
  font-size: 1.9rem;
}

.card small {
  align-items: center;
  color: #555;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
  padding: .3rem 0;
}

.logo {
  height: 2em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
