.colorSwitch {
  align-items: center;
  background: #fff;
  border-radius: 5000px;
  box-shadow: 0 0 0px 1px #000, #92d5ff 4px 4px;
  display: flex;
  height: 26px;
  left: 32px;
  outline: 1px solid transparent;
  overflow: hidden;
  position: fixed;
  top: 16px;
}

.colorSwitch input[type="radio"] {
  display: none;
}

.colorSwitch label[data-checked="true"] {
  opacity: 1;
}

.colorSwitch label {
  cursor: pointer;
  font-size: 1rem;
  line-height: 26px;
  padding: 0 4px;
  opacity: .5;
  z-index: 1;
}

.slider {

  background-color: #2c7cdc;
  bottom: 0;
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: transform 0.3s;
  width: 36%;

}