.colorSwitch {
  align-items: center;
  border: 1px solid var(--app-border-color);
  background: var(--app-background-color);
  border-radius: 5000px;
  box-shadow: var(--app-shadow-color) 4px 4px;
  display: flex;
  height: 26px;
  left: 32px;
  overflow: hidden;
  position: fixed;
  top: 16px;
}

.colorSwitch:hover {
  background: var(--app-selection-color);  border: 1px solid var(--app-border-color);
  box-shadow: none;
  transform: translate3d(4px, 4px, 0);
  transition: all 0.1s ease;
}

.colorSwitch input[type="radio"] {
  display: none;
}

.colorSwitch label[data-checked="true"] {
  opacity: 1;
}

.colorSwitch label {
  cursor: pointer;
  font-size: 1rem;
  line-height: 26px;
  padding: 0 8px;
  opacity: 0.5;
  z-index: 1;
}

.slider {
  background-color: #2c7cdc;
  bottom: 0;
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: transform 0.3s;
  width: 36%;
}

