.container {
  max-width: 100vw;
  overflow-x: auto;
  border-radius: 8px;
  border: 2px solid var(--app-border-color);
  box-shadow: var(--app-shadow-color) 14px 14px;
  margin-bottom: 4rem;
}

.table {
  background: var(--app-background-color);
  font-size: .8rem;
  max-width: 1000px;
  width: 100%;
}

.table th {
  border-bottom: 2px solid var(--text-small-color);
  border-right: 1px solid var(--app-background-secondary-color);
  padding: 4px;
}

.table tr {
  background: var(--app-background-color);
}

.table tr:nth-child(even) {
  background-color: var(--app-background-secondary-color);
}

.table tbody > tr > td {
  border-right: 1px solid var(--app-background-secondary-color);
  text-align: right;
  padding: 4px 12px 4px;
}

.table tbody > tr > td:first-child {
  font-weight: bold;
}

.table tbody > tr > td:last-child {
  border-right: 0;
}

.table thead tr {
  border-bottom: 1px solid var(--text-secondary-color);
}

.table tr.totales{
  background-color: var(--app-shadow-color);
}

.table thead th:hover {
  background-color: var(--app-shadow-color);
}

.table tbody tr:hover {
  background-color: var(--app-selection-color);
  cursor: pointer;
}

.table tr.selected {
  background-color: var(--app-selection-color);
  color: #ffffff;
}

.table .mobileData {
  display: none;
}

.table .mobileData span {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .table tr td:not(:first-child):not(.mobileData) {
    display: none;
  }

  .table tr td:first-child {
    text-align: center;
  }
  
  .table tr th {
    display: none;
  }

  .table .mobileData {
    display: block;
  }
}